---
---

<footer class='flex flex-row gap-2 text-gray-400 absolute bottom-3'>
  <p id='copyright'></p>
  <p>•</p>
  <a href='https://www.artesdosul.com/' class='underline'>artesdosul</a>
</footer>

<script>
  const footer = document.getElementById("copyright");
  if (footer) {
    footer.innerHTML = `&copy; Copyright ${new Date().getFullYear()}`;
  }
</script>
