---
export interface Props {
  title: string;
}
import Footer from "@/components/Footer.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro Quotes' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.ico' type='image/x-icon' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <span></span>
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    background: url("/fantasy-landscape-with-mountains-at-sunset-3d-render-illustration-generative-ai-free-photo.jpg");
    @apply bg-cover bg-center px-5 py-5 min-h-[100dvh] flex flex-col items-center justify-between;
  }
</style>
